.nav-items {
  list-style: none;
  display: flex;
  text-align: justify;
  justify-content: space-around;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items > li {
  padding: 10px;
}

.logo {
  width: 40px;
}
